version: 2
updates:
  - package-ecosystem: "gradle"
    cooldown:
      default-days: 7
    directory: "/"
    schedule:
      interval: "daily"
    open-pull-requests-limit: 5
  - package-ecosystem: "github-actions"
    cooldown:
      default-days: 7
    directory: "/"
    schedule:
      interval: "daily"
    open-pull-requests-limit: 5
