name: "Kjør tester"

on:
  pull_request:
    branches:
      - 'main'
    paths:
      - 'src/**'
      - '.github/*/test.yaml'
      - '*gradle*'

permissions:
  contents: read

jobs:
  setup-and-run-tests:
    name: Setter opp og kjører tester
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 21
          cache: 'gradle'
      - name: Kjører tester
        env:
          GITHUB_USERNAME: x-access-token
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: ./gradlew test --parallel --max-workers=4